<div class="reset-password-container bg-light">
  <div class="reset-password-box">
    <img src="assets/logo.svg"
         class="w-25"
         alt=""
    >
    <div>
    </div>
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <h4 class="card-title text-center">
            <i class="far fa-3x fa-user-circle text-muted"></i>
          </h4>
          <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm" novalidate>
            <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
              {{error}}
            </div>
            <div class="alert alert-danger"
                 [hidden]="!resetPasswordForm.hasError('notSame') || resetPasswordForm.controls.confirmPassword.untouched || isLoading"
                 translate>
              Паролі не збігаються
            </div>
            <div class="form-group">
              <label class="d-block">
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  autocomplete="password"
                  [placeholder]="'Пароль'"
                />
                <span hidden translate>Емайл</span>
                <small
                  [hidden]="resetPasswordForm.controls.password.valid || resetPasswordForm.controls.password.untouched"
                  class="text-danger"
                  translate
                >
                  Це поле є обов'язковим для заповнення
                </small>
              </label>
              <label class="d-block">
                <input
                  type="password"
                  class="form-control"
                  formControlName="confirmPassword"
                  autocomplete="confirmPassword"
                  [placeholder]="'Повторіть пароль'"
                  required
                />
                <span hidden translate>Пароль</span>
                <small
                  [hidden]="resetPasswordForm.controls.confirmPassword.valid || resetPasswordForm.controls.confirmPassword.untouched"
                  class="text-danger"
                  translate
                >
                  Це поле є обов'язковим для заповнення
                </small>
              </label>
            </div>
            <button class="btn btn-primary w-100" type="submit" [disabled]="resetPasswordForm.invalid || isLoading">
              <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
              <span translate>Відновити пароль</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
