<div class="row justify-content-between">
  <div class="col-md-2 col-sm-12 mb-2">
    <div>
      <div class="mb-2">
        <mat-card class="d-flex justify-content-center">
          <button mat-stroked-button
                  (click)="openCreateDialog()"
          >
            <mat-icon>school</mat-icon>
            Створити
          </button>
        </mat-card>
      </div>
      <div>
        <mat-card>пошук</mat-card>
      </div>
    </div>
  </div>
  <div class="col-md-10 col-sm-12 mb-2">
    <div>
      <div class="mb-2">
        <mat-chip-list>
          <mat-chip
            *ngFor="let fruit of fruits">
            {{fruit}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
      <div>
        <mat-paginator [length]="resultsLength" [pageSize]="25"></mat-paginator>
      </div>
      <div class="table-container">
        <table mat-table
               [dataSource]="data"
               class="mat-elevation-z8 w-100"
        >
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> No.</th>
            <td mat-cell *matCellDef="let element let i = index;"> {{i+1}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Назва куру</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Ціна</th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef>Створено</th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'medium'}} </td>
          </ng-container>

          <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef>Оновлено</th>
            <td mat-cell *matCellDef="let element"> {{element.updatedAt | date: 'medium'}} </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Видалити</th>
            <td mat-cell *matCellDef="let element">
              <button mat-stroked-button>
                <mat-icon>close</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
