<div class="row justify-content-between">
  <div class="col-md-2 col-sm-12 mb-2">
    <div>
      <div class="mb-2">
        <mat-card class="d-flex justify-content-center">
          <button mat-stroked-button
                  (click)="openCreateDialog()"
          >
            <mat-icon>school</mat-icon>
            Створити
          </button>
        </mat-card>
      </div>
      <div>
        <mat-card>пошук</mat-card>
      </div>
    </div>
  </div>
  <div class="col-md-10 col-sm-12 mb-2">
    <div>
      <div class="mb-2">
        <mat-chip-list>
          <mat-chip
            *ngFor="let fruit of fruits">
            {{fruit}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
      <div>
        <mat-paginator [length]="resultsLength" [pageSize]="25"></mat-paginator>
      </div>
      <div class="table-container">
        <app-courses-table [data]="data" (deleteCourseEvent)="delete($event)"></app-courses-table>
      </div>
    </div>
  </div>
</div>
